In [34]:
#import packages

import sys
import re
import os
import numpy as np
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy_utils import database_exists, create_database
import psycopg2

In [35]:
def winloss_table(username, dbname, engine):
    
    winloss_table_name = 'winloss'
    
    try:
        #fire up the database engine
        engine = create_engine('postgres://%s@localhost/%s'%(username, dbname))
        db_exist = database_exists(engine.url)
        if not db_exist:
            create_database(engine.url)

        #the simple table that we need to make wins, losses numerical
        winloss_df = pd.DataFrame({'win':1, 
                                   'loss':-1,        
                                  }, index=[0])
        winloss_df.to_sql(winloss_table_name, engine, if_exists='replace')


        created = 1
    except:
        created = 0
        
    return created

In [36]:
def do_make_test(username, dbname):

    con = None
    con = psycopg2.connect(database=dbname, user=username)

    known_tables = ['winloss']
    
    for known_table in known_tables:
        sql_query = "SELECT COUNT(*) FROM %s;" % (known_table)
        try:
            from_sql_query = pd.read_sql_query(sql_query, con)
            if from_sql_query is not None:
                exists = True
        except:
            exists = False
        
        print '    Table, %s, exists: %s' % (known_table, exists) 


        
    '''
    print sql_query

    '''

In [37]:
def main(make_winloss=False, make_test=False, username=None, dbname=None):
    print 'Now running: ', sys.argv[0]
    
    
    if username is not None:
        username = str(username)
    else: 
        username = 'smaug'
    if dbname is not None:
        dbname = str(dbname)
    else:
        dbname = 'ncaa_mbb_db'

        
    engine = create_engine('postgres://%s@localhost/%s'%(username, dbname))
    print '  DB url:', engine.url
    db_exist = database_exists(engine.url)
    if not db_exist:
        create_database(engine.url)
    print '  DB exists? %s' % db_exist



    if make_winloss:
        chk = winloss_table(username, dbname, engine)
        if chk == 1:
            print '    Table, winloss, successfully created!'
        else:
            print '    Table, winloss, NOT created!'


            
    if make_test:
        chk = do_make_test(username, dbname)

In [38]:
# boilerplate to execute call to main() function
if __name__ == '__main__':
    main(make_winloss=False, make_test=True)

Now running:  /anaconda/lib/python2.7/site-packages/ipykernel/__main__.py
  DB url: postgres://smaug@localhost/ncaa_mbb_db
  DB exists? True
    Table, winloss, exists: True

# Everything below this line is a stand alone bit of code
# but should be run with caution.

In [7]:
'''
credential and the three main databases info 
    1. scoreboard: database with info regarding the various ESPN scoreboard pages
    2. games: database with info regarding all games played
        -filled with data scraped from scoreboard pages 
    3. stats: database with info from all games played
        -filled with data scrapped from games pages

'''


username = 'smaug'
dbname = 'ncaa_mbb_db'

scoreboard_dir = 'scoreboard_pages/'
scoreboard_file = 'ncaa_mbb_scoreboard_full_YYYYMMDD.txt'
scoreboard_table_name = 'scoreboard'
scoreboard_table_range = [['20021101','20030430'], 
                            ['20031101','20040430'], 
                            ['20041101','20050430'],
                            ['20051101','20060430'],
                            ['20061101','20070430'],
                            ['20071101','20080430'],
                            ['20081101','20090430'],
                            ['20091101','20100430'],
                            ['20101101','20110430'],
                            ['20111101','20120430'],
                            ['20121101','20130430'],
                            ['20131101','20140430'],
                            ['20141101','20150430'],
                            ['20151101','20160123'],
                           ] 

boxscore_dir = 'boxscore_pages/'
boxscore_file = 'ncaa_mbb_boxscore_DDDDDDDDD.txt'
boxscore_table_name = 'games'

stats_table_name = 'stats'
stats_table_name2 = 'stats2'
stats_table_name1415 = 'stats1415'

teams_1415 = 'teams1415'

# For creating the base scoreboard database

In [15]:
### make base scoreboard database

engine = create_engine('postgres://%s@localhost/%s'%(username, dbname))
print '  DB url:', engine.url
db_exist = database_exists(engine.url)
if not db_exist:
    create_database(engine.url)
print '  DB exists? %s' % db_exist

con = None
con = psycopg2.connect(database=dbname, user=username)

my_dates = []
my_years = []
my_months = []
my_days = []
for scoreboard in scoreboard_table_range:
    dates_range = pd.date_range(start=scoreboard[0], end=scoreboard[1], freq='D')
    for date_range in dates_range:
        match = re.search('(\d\d\d\d)-(\d\d)-(\d\d)', str(date_range))
        my_dates.append(match.group(0))
        my_years.append(match.group(1))
        my_months.append(match.group(2))
        my_days.append(match.group(3))

in_hand = []
for ii in np.arange(len(my_dates)):
    bit1 = scoreboard_file
    bit1 = bit1.replace('YYYY', my_years[ii])
    bit1 = bit1.replace('MM', my_months[ii])
    bit1 = bit1.replace('DD', my_days[ii])
    #print bit1

    bit2 = scoreboard_dir  
    if int(my_months[ii]) > 7:
        bit2 = str(my_years[ii]) + '-' + str(int(my_years[ii])+1) + '/'
    else:
        bit2 = str(int(my_years[ii])-1) + '-' + str(my_years[ii]) + '/'
    #print bit2
   
    line = 'ls ' + scoreboard_dir + bit2 + bit1
    #print line
    f = os.popen(line)
    try:
        f.readlines()[0]
        in_hand.append('yes')
    except:
        #print f.readlines()
        in_hand.append('no')


scoreboard_df = pd.DataFrame({'date':my_dates, 
                              'year':my_years, 
                              'month':my_months,
                              'day':my_days,
                              'in_hand':in_hand,        
                            })
print scoreboard_df.tail(5)


##################################################################
###are you really sure you want to rebuild the entire scoreboard database???
#scoreboard_df.to_sql(scoreboard_table_name, engine, if_exists='replace')
##################################################################

  DB url: postgres://smaug@localhost/ncaa_mbb_db
  DB exists? True
            date day in_hand month  year
2435  2016-01-19  19     yes    01  2016
2436  2016-01-20  20     yes    01  2016
2437  2016-01-21  21     yes    01  2016
2438  2016-01-22  22     yes    01  2016
2439  2016-01-23  23     yes    01  2016

In [5]:
con = None
con = psycopg2.connect(database=dbname, user=username)
print '  ', con


sql_query = "SELECT COUNT(*) FROM %s;" % (scoreboard_table_name)
print sql_query
try:
    from_sql_query = pd.read_sql_query(sql_query, con)
    print from_sql_query
except:
    print '  scoreboard_table does not exist' 

sql_query = "SELECT COUNT(*) FROM %s WHERE in_hand='%s';" % (scoreboard_table_name, 'no')
print sql_query
try:
    from_sql_query = pd.read_sql_query(sql_query, con)
    print from_sql_query
except:
    print '  scoreboard_table does not exist'

   <connection object at 0x109a29770; dsn: 'dbname=ncaa_mbb_db user=smaug', closed: 0>
SELECT COUNT(*) FROM scoreboard;
   count
0   2440
SELECT COUNT(*) FROM scoreboard WHERE in_hand='no';
   count
0      0

# For testing out the games database

In [16]:
'''
test out the 'games' database

just two sample queries:
 1. to find the total number in the database
 2. to find the total number of entries in the database left to download
'''

con = None
con = psycopg2.connect(database=dbname, user=username)
print '  ', con


sql_query = "SELECT COUNT(*) FROM %s;" % (boxscore_table_name)
print sql_query
try:
    from_sql_query = pd.read_sql_query(sql_query, con)
    print from_sql_query.head(5)
except:
    print '  games table, %s, does not exist' % boxscore_table_name

sql_query = "SELECT id, year FROM %s WHERE in_hand='%s' AND id >320000000;" % (boxscore_table_name, 'yes')
print sql_query
try:
    from_sql_query = pd.read_sql_query(sql_query, con)
    print from_sql_query.head(5)
except:
    print '  games table, %s, does not exist' % boxscore_table_name

   <connection object at 0x109a29770; dsn: 'dbname=ncaa_mbb_db user=smaug', closed: 0>
SELECT COUNT(*) FROM games;
   count
0  80100
SELECT id, year FROM games WHERE in_hand='yes' AND id >320000000;
          id  year
0  320930096  2012
1  320910096  2012
2  320912305  2012
3  320900221  2012
4  320890024  2012

# For testing out the gamestats database

In [10]:
con = None
con = psycopg2.connect(database=dbname, user=username)
print '  ', con


sql_query = "SELECT COUNT(*) FROM %s;" % (stats_table_name)
print sql_query
try:
    from_sql_query = pd.read_sql_query(sql_query, con)
    print from_sql_query.head(5)
except:
    print '  stats table, %s, does not exist' % stats_table_name


#sql_query = "select * from INFORMATION_SCHEMA.COLUMNS where TABLE_NAME='%s';" % (stats_table_name)
#sql_query = "SELECT player, player_url, team_name, player_pos FROM %s;" % (stats_table_name)
sql_query = "SELECT player, team_name, pf, pts, ftm, fta, fgm FROM %s;" % (stats_table_name)
try:
    from_sql_query = pd.read_sql_query(sql_query, con)
    print from_sql_query.head(10)
except:
    print '  stats table, %s, does not exist' % stats_table_name


    

sql_query = "SELECT COUNT(*) FROM %s;" % (stats_table_name2)
try:
    from_sql_query = pd.read_sql_query(sql_query, con)
    print from_sql_query.head(5)
except:
    print '  stats table, %s, does not exist' % stats_table_name2


#sql_query = "select * from INFORMATION_SCHEMA.COLUMNS where TABLE_NAME='%s';" % (stats_table_name)
#sql_query = "SELECT player, player_url, team_name, player_pos FROM %s;" % (stats_table_name)
sql_query = "SELECT player, team_name, pf, pts, ftm, fta, fgm FROM %s;" % (stats_table_name2)


print sql_query
try:
    from_sql_query = pd.read_sql_query(sql_query, con)
    print from_sql_query.head(30)
except:
    print '  stats table, %s, does not exist' % stats_table_name2

   <connection object at 0x109a15b00; dsn: 'dbname=ncaa_mbb_db user=smaug', closed: 0>
SELECT COUNT(*) FROM stats;
    count
0  434526
             player         team_name pf pts ftm fta fgm
0      Kyle Singler  Duke Blue Devils  5  15   1   4   5
1      Lance Thomas  Duke Blue Devils  2   9   1   2   4
2  Gerald Henderson  Duke Blue Devils  1  19  11  13   4
3   Elliot Williams  Duke Blue Devils  3  11   0   0   5
4       Jon Scheyer  Duke Blue Devils  1  18  10  14   3
5       Nolan Smith  Duke Blue Devils  2   0   0   0   0
6       Greg Paulus  Duke Blue Devils  0   0   0   0   0
7   Martynas Pocius  Duke Blue Devils  0   0   0   0   0
8     Miles Plumlee  Duke Blue Devils  4   4   0   0   2
9      Brian Zoubek  Duke Blue Devils  2   0   0   0   0
    count
0  211106
SELECT player, team_name, pf, pts, ftm, fta, fgm FROM stats2;
               player               team_name pf pts ftm fta fgm
0     D.J. Cunningham  UNC Asheville Bulldogs  5   8   0   1   4
1          Will Weeks  UNC Asheville Bulldogs  4  19   3   5   8
2       Andrew Rowsey  UNC Asheville Bulldogs  1  12   1   2   5
3          Jaron Lane  UNC Asheville Bulldogs  3   5   3   7   1
4    Corey Littlejohn  UNC Asheville Bulldogs  4   4   2   4   1
5      Dakari Johnson                   BENCH  4   5   1   2   2
6          Marcus Lee                   BENCH  1  17   3   7   7
7        Derek Willis                   BENCH  0   2   2   2   0
8      Alex Poythress                   BENCH  2  10   0   1   5
9   Dominique Hawkins                   BENCH  0   0   0   0   0
10           Jon Hood                   BENCH  0   0   0   0   0
11      Jarrod Polson                   BENCH  0   0   0   0   0
12      Adrian Fields   McNeese State Cowboys  1   6   0   0   2
13     Craig McFerrin   McNeese State Cowboys  1   5   1   1   2
14        Kevin Hardy   McNeese State Cowboys  0   5   1   2   2
15    Ledrick Eackles   McNeese State Cowboys  2  11   0   0   4
16     Keelan Garrett   McNeese State Cowboys  1   4   0   0   2
17    Colby Wollenman                   BENCH  0   0   0   0   0
18         Alex Gauna                   BENCH  1   4   0   0   2
19    Trevor Bohnhoff                   BENCH  0   2   0   0   1
20    Gavin Schilling                   BENCH  1   4   0   0   2
21    Alvin Ellis III                   BENCH  1   6   0   0   3
22        Dan Chapman                   BENCH  0   0   0   0   0
23     Branden Dawson                   BENCH  0  12   0   0   6
24       Travis Trice                   BENCH  0  11   0   0   4
25      Keenan Wetzel                   BENCH  0   0   0   0   0
26       Russell Byrd                   BENCH  2   0   0   0   0
27      De'Mon Brooks       Davidson Wildcats  4  24  10  12   7
28  Chris Czerapowicz       Davidson Wildcats  4   6   2   2   2
29         Tom Droney       Davidson Wildcats  4  16   8   9   4

# For testing out the teams database(s)

In [7]:
con = None
con = psycopg2.connect(database=dbname, user=username)
print '  ', con


sql_query = "SELECT * FROM %s WHERE team_name = 'Texas Longhorns';" % (teams_1415)
print sql_query
try:
    from_sql_query = pd.read_sql_query(sql_query, con)
    print from_sql_query.head(45)
except:
    print '  teams table, %s, does not exist' % teams_1415

   <connection object at 0x109909b00; dsn: 'dbname=ncaa_mbb_db user=smaug', closed: 0>
SELECT * FROM teams1415 WHERE team_name = 'Texas Longhorns';
    index  ast  blk  dreb  fga  fgm  fta  ftm  min  oreb       ...         to  \
0       0   16   14    29   61   23   18   12  200     8       ...          8
1       0   19    8    22   71   33   12   10  200    12       ...         12
2       0    8    9    25   56   25   17   15  225     8       ...         11
3       0   12   12    18   61   21   15    9  200    16       ...          8
4       0   13    2    27   71   29   12   10  200    12       ...         12
5       0   12    7    28   59   27   16   11  200    11       ...         14
6       0   15    7    30   49   21   37   31  200    13       ...         19
7       0   24    9    30   56   32   18    9  200    13       ...         12
8       0   10   10    35   49   19   37   30  200     8       ...         12
9       0   12    8    23   46   17   19   14  200     5       ...         12
10      0   21    7    21   70   27    3    1  200    16       ...         10
11      0   17    6    22   57   25   14   11  200    15       ...          8
12      0   24   11    35   65   35   37   24  200    18       ...          9
13      0   14    7    31   37   19   31   21  200     4       ...         12
14      0   15    6    35   42   23   10    7  200     6       ...         19
15      0    8    9    23   60   24   15   11  200    13       ...          9
16      0    7    5    29   50   17   12    8  200    10       ...         15
17      0    8    7    24   60   18    8    7  200     8       ...         12
18      0   16    8    32   56   32    9    7  200    11       ...         14
19      0   11   13    28   55   24   17   13  200    12       ...         13
20      0   11    4    21   40   21   23   16  200     4       ...         16
21      0   11   14    22   53   21   22   15  200    12       ...          8
22      0   14    8    25   53   23   13   11  200     9       ...         12
23      0   10   13    23   60   18   27   22  200    25       ...         13
24      0   13    5    21   45   20   19   11  200     7       ...          7
25      0   12   11    18   54   22   12    9  225    10       ...          9
26      0   11    7    25   37   20   28   17  200     5       ...         10
27      0   14    3    20   53   23   27   17  200    16       ...         16
28      0    7    8    23   52   20   34   25  200    13       ...         17
29      0    8    6    26   47   21   22   16  225     8       ...         18
30      0    9    3    37   62   30   21   18  200    10       ...         10
31      0    9    1    24   47   14   29   19  200    14       ...         21
32      0   15    8    27   53   28   20   16  200    11       ...         15
33      0   16    9    31   50   24   17   13  200     6       ...         12

    tpa  tpm     ftper     fgper     tpper  ha  wl    game_id        team_name
0    20    6  0.666667  0.377049  0.300000   A   l  400585860  Texas Longhorns
1    22   10  0.833333  0.464789  0.454545   A   l  400585812  Texas Longhorns
2    19    6  0.882353  0.446429  0.315789   H   l  400585765  Texas Longhorns
3    21    7  0.600000  0.344262  0.333333   A   l  400585790  Texas Longhorns
4    24    9  0.833333  0.408451  0.375000   H   l  400585849  Texas Longhorns
5    17    6  0.687500  0.457627  0.352941   A   w  400585688  Texas Longhorns
6    15    4  0.837838  0.428571  0.266667   H   w  400585800  Texas Longhorns
7    25   12  0.500000  0.571429  0.480000   H   w  400585678  Texas Longhorns
8    11    3  0.810811  0.387755  0.272727   A   w  400607995  Texas Longhorns
9    20    7  0.736842  0.369565  0.350000   A   w  400585711  Texas Longhorns
10   26    5  0.333333  0.385714  0.192308   A   l  400585820  Texas Longhorns
11   19    4  0.785714  0.438596  0.210526   H   w  400766884  Texas Longhorns
12   24   12  0.648649  0.538462  0.500000   H   w  400585747  Texas Longhorns
13   17    7  0.677419  0.513514  0.411765   H   w  400585836  Texas Longhorns
14   13    6  0.700000  0.547619  0.461538   H   w  400585740  Texas Longhorns
15   18    3  0.733333  0.400000  0.166667   H   l  400585808  Texas Longhorns
16   19    6  0.666667  0.340000  0.315789   A   l  400785346  Texas Longhorns
17   21    6  0.875000  0.300000  0.285714   H   l  400585784  Texas Longhorns
18   14    7  0.777778  0.571429  0.500000   H   w  400585703  Texas Longhorns
19   23    8  0.764706  0.436364  0.347826   A   l  400585844  Texas Longhorns
20   13    6  0.695652  0.525000  0.461538   A   l  400585853  Texas Longhorns
21   19    5  0.681818  0.396226  0.263158   H   w  400585869  Texas Longhorns
22   22   10  0.846154  0.433962  0.454545   A   l  400768441  Texas Longhorns
23   26    5  0.814815  0.300000  0.192308   H   w  400585716  Texas Longhorns
24   15    5  0.578947  0.444444  0.333333   H   w  400585840  Texas Longhorns
25   23    8  0.750000  0.407407  0.347826   H   w  400585861  Texas Longhorns
26   14    4  0.607143  0.540541  0.285714   A   w  400585831  Texas Longhorns
27   11    3  0.629630  0.433962  0.272727   H   w  400585769  Texas Longhorns
28   13    5  0.735294  0.384615  0.384615   A   w  400585778  Texas Longhorns
29   10    5  0.727273  0.446809  0.500000   H   l  400585824  Texas Longhorns
30   22    7  0.857143  0.483871  0.318182   H   w  400585674  Texas Longhorns
31   20    4  0.655172  0.297872  0.200000   A   l  400585723  Texas Longhorns
32   17    6  0.800000  0.528302  0.352941   H   w  400585757  Texas Longhorns
33   13    5  0.764706  0.480000  0.384615   A   w  400585802  Texas Longhorns

[34 rows x 24 columns]

In [11]:
con = None
con = psycopg2.connect(database=dbname, user=username)
print '  ', con


sql_query = "SELECT * FROM %s;" % ('winloss')
print sql_query
try:
    from_sql_query = pd.read_sql_query(sql_query, con)
    print from_sql_query.head(5)
except:
    print '  stats table, %s, does not exist' % stats_table_name

   <connection object at 0x109d6cd60; dsn: 'dbname=ncaa_mbb_db user=smaug', closed: 0>
SELECT * FROM winloss;
  stats table, stats, does not exist