# Notebook to make and test Postgres databases for NCAA_MBB project

1. scoreboard table - table with all possible dates of men's college basketball games and whether that webpage has been obtained from ESPN
2. games table - created in ncaa_basketball_games notebook currently but tests still offered here
3. winloss table - simple table to make wins (1) and losses (-1) numerical

In [57]:
#import packages

#basic packages
import sys
import re
import os

#data analysis packages
import numpy as np
import pandas as pd

#data visiualization packages
import seaborn as sns

#database packages
from sqlalchemy import create_engine
from sqlalchemy_utils import database_exists, create_database
import psycopg2

In [58]:
## class definition for the NCAA basketball database collection
'''
This class if for organizing, access, setting and evaluating
the databases that will be made for the NCAA basketball project
to predict winners of games from past peformances
'''

class NcaaBballDb():
    
    
    def __init__(self, find_tables=None, peek_tables=None, make_scoreboard=None, 
                scoreboard_name=None):
        self.dbname = 'ncaa_mbb_db'
        self.username = 'smaug'

        if find_tables:
            self.find_tables = find_tables
        else:
            self.find_tables = False
        if peek_tables:
            self.peek_tables = peek_tables
        else:
            self.peek_tables = False
        if make_scoreboard:
            self.make_scoreboard = make_scoreboard
        else:
            self.make_scoreboard = False

        if scoreboard_name:
            self.scoreboard_name = scoreboard_name
        else:
            self.scoreboard_name = 'scoreboard'

In [59]:
    ## get attribute functions

    def getLastDate(self):
        '''
        function to return the last date to include in the
        various databases
        '''    
        return self.lastdate

    def getYear(self):
        '''
        function to return the year to do when building the
        various databases
        '''    
        return self.year

    def getNhead(self):
        '''
        function to return the (max) number of rows when looking
        at a SQL table. 
        '''    
        return self.nhead

    def getDbName(self):
        '''
        function to return the database name
        '''    
        return self.dbname

    def getUserName(self):
        '''
        function to return the database username
        '''    
        return self.username

    def getTableNames(self):
        '''
        function to return the available database table names
        '''    
        return self.table_names

    def getDbExist(self):
        '''
        function to return the status of the database engine
        '''
        return self.db_exist
    
    def getDbEngine(self):
        '''
        function to return the actual database engine
        '''
        return self.db_engine
    
    def getScoreboardName(self):
        '''
        function to return the database table name for scoreboards
        '''
        return self.scoreboard_name

In [60]:
    ## set attribute functions

    def setDefaults(self, lastdate=None, year=None, nhead=None):
        '''
        function to set some default values for this class
        '''
        
        try:
            if lastdate is None:
                self.lastdate = '20160204'
            else:
                if len(lastdate) != 8:
                    print 'Variable lastdate must be a string of form YYYYMMDD'
                else:
                    self.lastdate = str(lastdate)

            if year is None:
                self.year = '1516'
            else:
                if len(year) != 4:
                    print 'Variable year must be a string of form Y1Y1Y2Y2'
                else:
                    self.year = str(year)

            if nhead is None:
                self.nhead = 6
            else:
                self.nhead = nhead
            return 0
        except:
            return 1
    
    def setTableNames(self, table_names):
        '''
        function to set the available database table names
        into the class object
        '''
        self.table_names = table_names

        
    def setDbEngine(self, engine):
        '''
        function to set the database engine in the class attributes
        '''
        self.db_engine = engine
        
    def setDbExist(self, exists):
        '''
        function to set whether the database exists or not
        '''
        self.db_exist = exists

In [61]:
    ## print attribute functions
    
    def printTableNames(self):
        '''
        function to nicely print out database table names 
        '''
        table_names = getTableNames(self)
        print '    Tables available:'
        for table_name in table_names:
            print '      ', table_name


    def printEngineStatus(self):
        engine_exist = getDbExist(self)
        print '    Engine exists: %s' % (engine_exist)
        engine = getDbEngine(self)
        print '       The little engine that could: %s' % (engine)

In [62]:
    def connectDb(self):
        '''
        function to establish connection with the PostgreSQL
        database.
        
        Note: all connections should be made through this
        function to ensure smooth usage
        '''
        
        dbname = getDbName(self)
        username = getUserName(self)
        
        con = None
        con = psycopg2.connect(database=dbname, user=username)

        return con

In [63]:
    def makeDbEngine(self):
        '''
        function to establish engine with PostgreSQl database
        so that additional tables can be made 
        '''
        
        try:
            ## connect to Postgres
            dbname = getDbName(self)
            username = getUserName(self)

            ## create and set 
            engine = create_engine('postgres://%s@localhost/%s'%(username, dbname))
            setDbEngine(self, engine)

            ## test if it exists
            db_exist = database_exists(engine.url)
            if not db_exist:
                create_database(engine.url)
            db_exist = database_exists(engine.url)
            setDbExist(self, db_exist)
            return 0
        except:
            return 1

In [64]:
    def findTables(self):
        '''
        function to store and print all tables in the database 
        '''

        try:
            #get values
            con = connectDb(self)
            dbname = getDbName(self)

            #do the SQL query
            sql_query = '''
                        SELECT table_schema, table_name
                          FROM %s.information_schema.tables
                          WHERE table_schema LIKE 'public'
                          ORDER BY table_schema,table_name;
                        ''' % (dbname)
            #print sql_query
            try:
                tables_sql = pd.read_sql_query(sql_query, con)
                if tables_sql is not None:
                    exists = True
                    setTableNames(self, tables_sql['table_name'])
            except:
                exists = False
            return 0
        except:
            return 1

In [65]:
    def peekTables(self, nhead=False):
        '''
        function to return the head of the SQL tables that exist
        
        '''
        
        ## set values
        if nhead is False:
            nhead = getNhead(self)
        else:
            nhead = nhead
        
        try:
            ## database stuff
            dbname = getDbName(self)
            username = getUserName(self)
            table_names = getTableNames(self)
            con = None
            con = psycopg2.connect(database=dbname, user=username)

            ## print stuff
            for table_name in table_names:
                sql_query = '''
                            SELECT *
                              FROM %s
                              LIMIT %i;
                            ''' % (table_name, nhead)
                try:
                    table_peek = pd.read_sql_query(sql_query, con)
                    if table_peek is not None:
                        exists = True
                    print '    Peek at the table named %r ' % table_name
                    print table_peek
                    print ''
                except:
                    exists = False
            return 0
        except:
            return 1

## For creating, saving, testing the base scoreboard database
    * scoreboard database: info regarding the various ESPN scoreboard pages such as data and whether obtained

In [76]:
    def scoreboardTable(self):
        
        
        scoreboard_table_name = getScoreboardName(self)
        print scoreboard_table_name
        sys.exit(0)
        
        # needs to go to scoreboard class: scoreboard_dir = 'scoreboard_pages/'
        # needs to go to scoreboard class: scoreboard_file = 'ncaa_mbb_scoreboard_full_YYYYMMDD.txt'
        # needs to go to scoreboard class: scoreboard_table_range = [['20021101','20030430'], 
                                  #['20031101','20040430'], 
                                  #['20041101','20050430'],
                                  #['20051101','20060430'],
                                  #['20061101','20070430'],
                                  #['20071101','20080430'],
                                  #['20081101','20090430'],
                                  #['20091101','20100430'],
                                  #['20101101','20110430'],
                                  #['20111101','20120430'],
                                  #['20121101','20130430'],
                                  #['20131101','20140430'],
                                  #['20141101','20150430'],
                                  #['20151101',lastdate],
                                  # ] 

        try:
            #fire up the database engine
            engine = create_engine('postgres://%s@localhost/%s'%(username, dbname))
            db_exist = database_exists(engine.url)
            if not db_exist:
                create_database(engine.url)

            #create empty arrays to fill
            my_dates = []
            my_years = []
            my_months = []
            my_days = []

            #loop over the date ranges
            for scoreboard in scoreboard_table_range:
                dates_range = pd.date_range(start=scoreboard[0], end=scoreboard[1], freq='D')
                for date_range in dates_range:
                    match = re.search('(\d\d\d\d)-(\d\d)-(\d\d)', str(date_range))
                    my_dates.append(match.group(0))
                    my_years.append(match.group(1))
                    my_months.append(match.group(2))
                    my_days.append(match.group(3))

            #find which files have already been downloaded
            in_hand = []
            for ii in np.arange(len(my_dates)):
                bit1 = scoreboard_file
                bit1 = bit1.replace('YYYY', my_years[ii])
                bit1 = bit1.replace('MM', my_months[ii])
                bit1 = bit1.replace('DD', my_days[ii])
                #print bit1

                bit2 = scoreboard_dir  
                if int(my_months[ii]) > 7:
                    bit2 = str(my_years[ii]) + '-' + str(int(my_years[ii])+1) + '/'
                else:
                    bit2 = str(int(my_years[ii])-1) + '-' + str(my_years[ii]) + '/'
                #print bit2

                line = 'ls ' + scoreboard_dir + bit2 + bit1
                #print line
                f = os.popen(line)
                try:
                    f.readlines()[0]
                    in_hand.append('yes')
                except:
                    #print f.readlines()
                    in_hand.append('no')

            #make a data frame of our info
            scoreboard_df = pd.DataFrame({'date':my_dates, 
                                          'year':my_years, 
                                          'month':my_months,
                                          'day':my_days,
                                          'in_hand':in_hand,        
                                        })
            ##################################################################
            ###are you really sure you want to rebuild the entire scoreboard database???
            scoreboard_df.to_sql(scoreboard_table_name, engine, if_exists='replace')
            ##################################################################
            created = 1
        except:
            created = 0

        return created

In [67]:
### items between here and __main__() have not be brought into the class definition yet

def scoreboard_table(username, dbname, engine, lastdate):
        
    scoreboard_table_name = 'scoreboard'
    scoreboard_dir = 'scoreboard_pages/'
    scoreboard_file = 'ncaa_mbb_scoreboard_full_YYYYMMDD.txt'
    scoreboard_table_range = [['20021101','20030430'], 
                              ['20031101','20040430'], 
                              ['20041101','20050430'],
                              ['20051101','20060430'],
                              ['20061101','20070430'],
                              ['20071101','20080430'],
                              ['20081101','20090430'],
                              ['20091101','20100430'],
                              ['20101101','20110430'],
                              ['20111101','20120430'],
                              ['20121101','20130430'],
                              ['20131101','20140430'],
                              ['20141101','20150430'],
                              ['20151101',lastdate],
                               ] 
    
    try:
        #fire up the database engine
        engine = create_engine('postgres://%s@localhost/%s'%(username, dbname))
        db_exist = database_exists(engine.url)
        if not db_exist:
            create_database(engine.url)

        #create empty arrays to fill
        my_dates = []
        my_years = []
        my_months = []
        my_days = []

        #loop over the date ranges
        for scoreboard in scoreboard_table_range:
            dates_range = pd.date_range(start=scoreboard[0], end=scoreboard[1], freq='D')
            for date_range in dates_range:
                match = re.search('(\d\d\d\d)-(\d\d)-(\d\d)', str(date_range))
                my_dates.append(match.group(0))
                my_years.append(match.group(1))
                my_months.append(match.group(2))
                my_days.append(match.group(3))

        #find which files have already been downloaded
        in_hand = []
        for ii in np.arange(len(my_dates)):
            bit1 = scoreboard_file
            bit1 = bit1.replace('YYYY', my_years[ii])
            bit1 = bit1.replace('MM', my_months[ii])
            bit1 = bit1.replace('DD', my_days[ii])
            #print bit1

            bit2 = scoreboard_dir  
            if int(my_months[ii]) > 7:
                bit2 = str(my_years[ii]) + '-' + str(int(my_years[ii])+1) + '/'
            else:
                bit2 = str(int(my_years[ii])-1) + '-' + str(my_years[ii]) + '/'
            #print bit2

            line = 'ls ' + scoreboard_dir + bit2 + bit1
            #print line
            f = os.popen(line)
            try:
                f.readlines()[0]
                in_hand.append('yes')
            except:
                #print f.readlines()
                in_hand.append('no')

        #make a data frame of our info
        scoreboard_df = pd.DataFrame({'date':my_dates, 
                                      'year':my_years, 
                                      'month':my_months,
                                      'day':my_days,
                                      'in_hand':in_hand,        
                                    })
        ##################################################################
        ###are you really sure you want to rebuild the entire scoreboard database???
        scoreboard_df.to_sql(scoreboard_table_name, engine, if_exists='replace')
        ##################################################################
        created = 1
    except:
        created = 0
        
    return created

In [68]:
def do_test_scoreboard(username, dbname):

    con = None
    con = psycopg2.connect(database=dbname, user=username)
    known_table = 'scoreboard'
    
    sql_query = "SELECT COUNT(*) FROM %s;" % (known_table)
    try:
        count_sql = pd.read_sql_query(sql_query, con)
        if count_sql is not None:
            exists = True
    except:
        exists = False
    print '    Table, %s, exists: %s' % (known_table, exists)

    if exists is True:
        print '      Total number of entries in %s: %i' % (known_table, count_sql.loc[0])

        sql_query = "SELECT * FROM %s;" % (known_table)
        try:
            all_sql = pd.read_sql_query(sql_query, con)
        except:
            a = 1
        print '      First 5 entries of %s: ' % (known_table)
        print all_sql.head(5)

        sql_query = "SELECT * FROM %s;" % (known_table)
        try:
            all_sql = pd.read_sql_query(sql_query, con)
        except:
            a = 1
        print '      Last 10 entries of %s: ' % (known_table)
        print all_sql.tail(10)

        sql_query = "SELECT DISTINCT(date) FROM %s;" % (known_table)
        try:
            distinct_sql = pd.read_sql_query(sql_query, con)
            ndistinct_date = len(distinct_sql)
        except:
            a = 1
        print '     %s distinct entries in %s.' % (ndistinct_date, known_table)
        #if count_sql.loc[0] == ndistinct_date:
        #    print '        All entries appear to be unique'


    print ''

## For creating, testing the games database
* currently performed in the ncaa_basketball_games notebook
* database with info regarding all games played
        -filled with data scraped from scoreboard pages

In [69]:
def do_test_games(username, dbname):
    
    con = None
    con = psycopg2.connect(database=dbname, user=username)
    known_table = 'games'

    sql_query = "SELECT COUNT(*) FROM %s;" % (known_table)
    try:
        count_sql = pd.read_sql_query(sql_query, con)
        if count_sql is not None:
            exists = True
    except:
        exists = False
    print '    Table, %s, exists: %s' % (known_table, exists)

    sql_query = "SELECT COUNT(id) FROM %s WHERE in_hand='%s' AND id >320000000;" % (known_table, 'no')
    try:
        count_to_get = pd.read_sql_query(sql_query, con)
    except:
        print '  games table, %s, does not exist' % boxscore_table_name
    print '    Still have %i game pages left to download.' % (count_to_get.iloc[0])
        

    print ''

## For creating, testing the gamestats databases

In [70]:
def do_test_gamestats(username, dbname, year):
        
    con = None
    con = psycopg2.connect(database=dbname, user=username)
    known_table = 'teams' + year 
        
    sql_query = "SELECT COUNT(*) FROM %s;" % (known_table)
    try:
        count_sql = pd.read_sql_query(sql_query, con)
        if count_sql is not None:
            exists = True
    except:
        exists = False
    print '    Table, %s, exists: %s' % (known_table, exists)

    sql_query = "SELECT DISTINCT(game_id) FROM %s;" % (known_table)
    try:
        count_to_get = pd.read_sql_query(sql_query, con)
        print '    There are %s distinct games in the %s table' % (len(count_to_get), known_table)
    except:
        print '  games table, %s, does not exist' % known_table
     
       
    sql_query = "SELECT * FROM %s;" % (known_table)
    try:
        all_sql = pd.read_sql_query(sql_query, con)
        print '      First 5 entries of %s: ' % (known_table)
        print all_sql.head(5)
        print '      Last 10 entries of %s: ' % (known_table)
        print all_sql.tail(10)
    except:
        a = 1
 
    print ''

## For creating, testing the winloss database
* a simple table to turn string values of win(w) and loss(l) to intergers win(1) and loss(-1)

In [71]:
def winloss_table(username, dbname, engine):
    
    winloss_table_name = 'winloss'
    
    try:
        #fire up the database engine
        engine = create_engine('postgres://%s@localhost/%s'%(username, dbname))
        db_exist = database_exists(engine.url)
        if not db_exist:
            create_database(engine.url)

        #the simple table that we need to make wins, losses numerical
        winloss_df = pd.DataFrame({'wl':['w','l'], 
                                   'wl_int':[1,-1],        
                                  }, index=[0,1])
        ##################################################################
        ###are you really sure you want to rebuild the winloss numerical database???
        winloss_df.to_sql(winloss_table_name, engine, if_exists='replace')
        ##################################################################
        created = 1
    except:
        created = 0
        
    return created

In [72]:
def do_test_winloss(username, dbname):

    con = None
    con = psycopg2.connect(database=dbname, user=username)
    known_table = 'winloss'
    
    sql_query = "SELECT COUNT(*) FROM %s;" % (known_table)
    try:
        count_sql = pd.read_sql_query(sql_query, con)
        if count_sql is not None:
            exists = True
    except:
        exists = False
    print '    Table, %s, exists: %s' % (known_table, exists)

    if exists is True:
        print '      Total number of entries in %s: %i' % (known_table, count_sql.loc[0])

        sql_query = "SELECT * FROM %s;" % (known_table)
        try:
            all_sql = pd.read_sql_query(sql_query, con)
        except:
            a = 1
        print '      First 5 entries of %s: ' % (known_table)
        print all_sql.head(5)
    print ''

In [73]:
def main(find_tables=False, peek_tables=False, 
         make_scoreboard=False, scoreboard_name=None,
         make_games=None, 
         make_gamestats=False, make_winloss=False, 
         make_test=False, 
         lastdate=None, year=None, nhead=None):
    
    
    myncaabball = NcaaBballDb(find_tables=find_tables, peek_tables=peek_tables, 
                             make_scoreboard=make_scoreboard, scoreboard_name=scoreboard_name)
    
    chk = setDefaults(myncaabball, lastdate=lastdate, year=year,
                     nhead=nhead)
    if chk !=0:
        print 'Defaults may not be set correctly!!'
    
    chk = makeDbEngine(myncaabball)
    if chk == 0:
        print printEngineStatus(myncaabball)
    else:
        print 'Make sure you have Postgres started!!'
        sys.exit(0)

    if myncaabball.find_tables:
        chk = findTables(myncaabball)
        if chk == 0:
            printTableNames(myncaabball)
    
    if myncaabball.peek_tables:
        chk = peekTables(myncaabball)
          
    #whether to work on scoreboard table    
    if myncaabball.make_scoreboard:
        chk = scoreboardTable(myncaabball)
        if chk == 1:
            print '    Table, scoreboard, successfully created!'
        else:
            print '    Table, scoreboard, NOT created!'
 
    
    ### task: add function to make the scoreboard table database 
    ### this function needs to be evalutated on how some it fits here to make and access the db
    ###  and some of if needs to go into the scoreboard class so that is can be built etc and then handed over
    
    sys.exit(0)
    ### below this line has not been migrated into the class definition yet
    
    
    
    
    
    #get available tables in the database
    #if which_tables:
    #    avail_tables = my_tables(username, dbname)
    #    print avail_tables
        
    #get a peek at available tables
    #if peek_tables:
    #    chk = peek_at_tables(avail_tables, username, dbname)
        
    if make_test:
        chk = do_test_scoreboard(username, dbname)

       
    #whether to work on the games table
    if make_test:
        chk = do_test_games(username, dbname)
        
        
    #whether to work on the gamestats tables
    if make_test:
        chk = do_test_gamestats(username, dbname, year)

    
    #whether to work on winloss table
    if make_winloss:
        chk = winloss_table(username, dbname, engine)
        if chk == 1:
            print '    Table, winloss, successfully created!'
        else:
            print '    Table, winloss, NOT created!'
    if make_test:
        chk = do_test_winloss(username, dbname)

In [74]:
# boilerplate to execute call to main() function
if __name__ == '__main__':
    main(find_tables=True, peek_tables=True, 
         make_scoreboard=True, make_winloss=False, 
         make_games=False, make_gamestats=False, 
         make_test=False, 
         lastdate='20160323', year='1516')

    Engine exists: True
       The little engine that could: Engine(postgres://smaug@localhost/ncaa_mbb_db)
None
    Tables available:
       games
       games_table
       scoreboard
       stats
       stats1213
       stats1314
       stats1415
       stats1516
       stats2
       teams1415
       teams1516
       winloss
    Peek at the table named 'games'
   index   coach1   coach2        date day         id in_hand month    team1  \
0      1  unknown  unknown  2002-11-14  14  223180201     yes    11  unknown
1      2  unknown  unknown  2002-11-14  14  223180183     yes    11  unknown
2      3  unknown  unknown  2002-11-15  15  223190061     yes    11  unknown
3      4  unknown  unknown  2002-11-15  15  223190222     yes    11  unknown
4      5  unknown  unknown  2002-11-15  15  223192459     yes    11  unknown
5      6  unknown  unknown  2002-11-15  15  223190275     yes    11  unknown

     team2                                                url  year
0  unknown  http://espn.go.com/mens-college-basketball/box...  2002
1  unknown  http://espn.go.com/mens-college-basketball/box...  2002
2  unknown  http://espn.go.com/mens-college-basketball/box...  2002
3  unknown  http://espn.go.com/mens-college-basketball/box...  2002
4  unknown  http://espn.go.com/mens-college-basketball/box...  2002
5  unknown  http://espn.go.com/mens-college-basketball/box...  2002

    Peek at the table named 'games_table'
   index day         id month  \
0      0  23  400831523    01
1      1  23  400831524    01
2      2  23  400840311    01
3      3  23  400830919    01
4      4  23  400839325    01
5      5  23  400830414    01

                                                 url  year
0  http://espn.go.com/mens-college-basketball/box...  2016
1  http://espn.go.com/mens-college-basketball/box...  2016
2  http://espn.go.com/mens-college-basketball/box...  2016
3  http://espn.go.com/mens-college-basketball/box...  2016
4  http://espn.go.com/mens-college-basketball/box...  2016
5  http://espn.go.com/mens-college-basketball/box...  2016

    Peek at the table named 'scoreboard'
   index        date day in_hand month  year
0      0  2002-11-01  01     yes    11  2002
1      1  2002-11-02  02     yes    11  2002
2      2  2002-11-03  03     yes    11  2002
3      3  2002-11-04  04     yes    11  2002
4      4  2002-11-05  05     yes    11  2002
5      5  2002-11-06  06     yes    11  2002

    Peek at the table named 'stats'
   index 3pa 3pm 3pm-a ast blk fga fgm fgm-a fta ... oreb pf  \
0      0   5   4   4-5   4   0   6   5   5-6   4 ...    0  5
1      1   0   0   0-0   1   0   6   4   4-6   2 ...    3  2
2      2   2   0   0-2   3   0  12   4  4-12  13 ...    0  1
3      3   2   1   1-2   0   0   6   5   5-6   0 ...    0  3
4      4   4   2   2-4   1   0   8   3   3-8  14 ...    0  1
5      5   1   0   0-1   2   0   2   0   0-2   0 ...    0  2

             player player_pos  \
0      Kyle Singler          F
1      Lance Thomas          F
2  Gerald Henderson          G
3   Elliot Williams          G
4       Jon Scheyer          G
5       Nolan Smith          G

                                          player_url pts reb stl  \
0  http://espn.go.com/mens-college-basketball/pla...  15   3   1
1  http://espn.go.com/mens-college-basketball/pla...   9   4   2
2  http://espn.go.com/mens-college-basketball/pla...  19   4   0
3  http://espn.go.com/mens-college-basketball/pla...  11   2   0
4  http://espn.go.com/mens-college-basketball/pla...  18   3   2
5  http://espn.go.com/mens-college-basketball/pla...   0   1   0

          team_name to
0  Duke Blue Devils  5
1  Duke Blue Devils  1
2  Duke Blue Devils  1
3  Duke Blue Devils  3
4  Duke Blue Devils  0
5  Duke Blue Devils  3

[6 rows x 23 columns]

    Peek at the table named 'stats1213'
   index ast blk fga fgm fta ftm    game_id min oreb ...  \
0      0   0   0   5   4   2   0  323220292  18    1 ...
1      1   1   1   3   1   0   0  323220292  17    1 ...
2      2   1   0  10   2   8   6  323220292  29    0 ...
3      3   6   1   7   2   0   0  323220292  29    2 ...
4      4   1   1   6   2   4   3  323220292  30    2 ...
5      5   0   0   0   0   2   0  323220292   8    1 ...

                                          player_url pts reb stl  \
0  http://espn.go.com/mens-college-basketball/pla...   8   4   0
1  http://espn.go.com/mens-college-basketball/pla...   2   2   1
2  http://espn.go.com/mens-college-basketball/pla...  12   2   0
3  http://espn.go.com/mens-college-basketball/pla...   6   4   2
4  http://espn.go.com/mens-college-basketball/pla...   7   6   2
5  http://espn.go.com/mens-college-basketball/pla...   0   1   0

                       team_name to tpa tpm ha wl
0  UT Rio Grande Valley Vaqueros  2   0   0  A  l
1  UT Rio Grande Valley Vaqueros  1   0   0  A  l
2  UT Rio Grande Valley Vaqueros  3   9   2  A  l
3  UT Rio Grande Valley Vaqueros  4   6   2  A  l
4  UT Rio Grande Valley Vaqueros  4   1   0  A  l
5  UT Rio Grande Valley Vaqueros  0   0   0  A  l

[6 rows x 23 columns]

    Peek at the table named 'stats1314'
   index ast blk dreb fga fgm fta ftm    game_id min ...  \
0      0   3   3    3   9   3   2   1  400506665  32 ...
1      1   0   1    3   9   4   5   3  400506665  24 ...
2      2   6   1    8   4   0   4   1  400506665  33 ...
3      3   6   0    3   5   4   1   1  400506665  26 ...
4      4   4   0    2  17   9   6   6  400506665  35 ...
5      5   1   0    2   6   3   0   0  400506665  16 ...

                                          player_url pts reb stl  \
0  http://espn.go.com/mens-college-basketball/pla...   9   5   0
1  http://espn.go.com/mens-college-basketball/pla...  11   4   1
2  http://espn.go.com/mens-college-basketball/pla...   1   9   2
3  http://espn.go.com/mens-college-basketball/pla...  11   4   1
4  http://espn.go.com/mens-college-basketball/pla...  29   3   2
5  http://espn.go.com/mens-college-basketball/pla...   6   2   0

           team_name to tpa tpm ha wl
0  Green Bay Phoenix  0   4   2  A  w
1  Green Bay Phoenix  3   0   0  A  w
2  Green Bay Phoenix  3   0   0  A  w
3  Green Bay Phoenix  0   3   2  A  w
4  Green Bay Phoenix  2   8   5  A  w
5  Green Bay Phoenix  0   2   0  A  w

[6 rows x 24 columns]

    Peek at the table named 'stats1415'
   index ast blk dreb fga fgm fta ftm    game_id min ...  \
0      0   0   2    3   5   1   0   0  400589702  17 ...
1      1   0   0    3   3   2   0   0  400589702  28 ...
2      2   2   0    1   7   2   5   5  400589702  19 ...
3      3   2   0    2   5   0   4   2  400589702  23 ...
4      4   1   0    0  11   5   4   1  400589702  28 ...
5      5   0   0    1   4   0   1   0  400589702  18 ...

                                          player_url pts reb stl  \
0  http://espn.go.com/mens-college-basketball/pla...   2   4   0
1  http://espn.go.com/mens-college-basketball/pla...   5   3   0
2  http://espn.go.com/mens-college-basketball/pla...  10   2   0
3  http://espn.go.com/mens-college-basketball/pla...   2   3   1
4  http://espn.go.com/mens-college-basketball/pla...  15   0   1
5  http://espn.go.com/mens-college-basketball/pla...   0   2   0

                team_name to tpa tpm ha wl
0  Grand Canyon Antelopes  1   0   0  A  l
1  Grand Canyon Antelopes  2   1   1  A  l
2  Grand Canyon Antelopes  1   5   1  A  l
3  Grand Canyon Antelopes  4   2   0  A  l
4  Grand Canyon Antelopes  3   4   4  A  l
5  Grand Canyon Antelopes  0   0   0  A  l

[6 rows x 24 columns]

    Peek at the table named 'stats1516'
   index ast blk dreb fga fgm fta ftm    game_id min ...  \
0      0   1   0    3   1   1   0   0  400840012  12 ...
1      1   3   0    5   6   5   9   8  400840012  31 ...
2      2   4   0    3  10   4   8   8  400840012  34 ...
3      3   0   0    1   9   3   2   2  400840012  26 ...
4      4   5   0    5  13   4   9   8  400840012  34 ...
5      5   1   0    3   5   3   4   4  400840012  24 ...

                                          player_url pts reb stl  \
0  http://espn.go.com/mens-college-basketball/pla...   2   4   0
1  http://espn.go.com/mens-college-basketball/pla...  21   5   1
2  http://espn.go.com/mens-college-basketball/pla...  18   4   1
3  http://espn.go.com/mens-college-basketball/pla...  11   1   0
4  http://espn.go.com/mens-college-basketball/pla...  18   6   3
5  http://espn.go.com/mens-college-basketball/pla...  10   3   0

                team_name to tpa tpm ha wl
0  Utah Valley Wolverines  0   0   0  A  w
1  Utah Valley Wolverines  4   3   3  A  w
2  Utah Valley Wolverines  2   5   2  A  w
3  Utah Valley Wolverines  3   8   3  A  w
4  Utah Valley Wolverines  1   4   2  A  w
5  Utah Valley Wolverines  0   0   0  A  w

[6 rows x 24 columns]

    Peek at the table named 'stats2'
   index 3pa 3pm 3pm-a ast blk dreb fga fgm fgm-a ... oreb pf  \
0      0   0   0   0-0   1   2    6   7   4   4-7 ...    4  5
1      1   0   0   0-0   2   0    2  14   8  8-14 ...    5  4
2      2   5   1   1-5   2   0    1  11   5  5-11 ...    0  1
3      3   3   0   0-3   1   0    3   8   1   1-8 ...    0  3
4      4   2   0   0-2   0   0    0   7   1   1-7 ...    1  4
5      5   0   0   0-0   0   1    1   3   0   0-3 ...    0  4

             player player_pos  \
0   D.J. Cunningham          C
1        Will Weeks          F
2     Andrew Rowsey          G
3        Jaron Lane          G
4  Corey Littlejohn          G
5    Jaleel Roberts          C

                                          player_url pts reb stl  \
0  http://espn.go.com/mens-college-basketball/pla...   8  10   0
1  http://espn.go.com/mens-college-basketball/pla...  19   7   0
2  http://espn.go.com/mens-college-basketball/pla...  12   1   0
3  http://espn.go.com/mens-college-basketball/pla...   5   3   0
4  http://espn.go.com/mens-college-basketball/pla...   4   1   1
5  http://espn.go.com/mens-college-basketball/pla...   1   1   0

                team_name to
0  UNC Asheville Bulldogs  1
1  UNC Asheville Bulldogs  5
2  UNC Asheville Bulldogs  3
3  UNC Asheville Bulldogs  1
4  UNC Asheville Bulldogs  1
5  UNC Asheville Bulldogs  0

[6 rows x 25 columns]

    Peek at the table named 'teams1415'
   index  ast  blk  dreb  fga  fgm  fta  ftm  min  oreb  \
0      0    6    3    22   56   21   24   15  200     5
1      0   13    5    21   44   17   27   20  200     1
2      0   10    3    13   53   19   13   11  200     6
3      0   16    0    22   54   29   22   18  200     7
4      0   12    4    15   45   22   21   13  200     5
5      0   13    2    20   61   24   27   21  200    12

              ...               to  tpa  tpm     ftper     fgper     tpper  \
0             ...               15   21    7  0.625000  0.375000  0.333333
1             ...               21   19    6  0.740741  0.386364  0.315789
2             ...               12   16    7  0.846154  0.358491  0.437500
3             ...               14   18   11  0.818182  0.537037  0.611111
4             ...               14   16    4  0.619048  0.488889  0.250000
5             ...               12   18    7  0.777778  0.393443  0.388889

   ha  wl    game_id                    team_name
0   A   l  400598788      AUB Montgomery Senators
1   A   l  400600688      AUB Montgomery Senators
2   A   l  400595589  Abilene Christian  Wildcats
3   H   w  400751535  Abilene Christian  Wildcats
4   H   l  400595661  Abilene Christian  Wildcats
5   H   w  400595601  Abilene Christian  Wildcats

[6 rows x 24 columns]

    Peek at the table named 'teams1516'
   index  ast  blk  dreb  fga  fgm  fta  ftm  min  oreb  \
0      0   23    3    20   72   29   16   11  200     6
1      0   14    2    26   65   30   12    5  200    12
2      0   13    1    23   68   26   15    8  200    12
3      0   23    2    29   73   37   21   15  200    16
4      0    5    4    16   47   22   17   14  200     2
5      0    9    1    21   52   15   32   22  200    10

              ...               to  tpa  tpm     ftper     fgper     tpper  \
0             ...               12   33   10  0.687500  0.402778  0.303030
1             ...               15   39   13  0.416667  0.461538  0.333333
2             ...               13   30    8  0.533333  0.382353  0.266667
3             ...               12   15    5  0.714286  0.506849  0.333333
4             ...               20   15    5  0.823529  0.468085  0.333333
5             ...               20   19    5  0.687500  0.288462  0.263158

   ha  wl    game_id                    team_name
0   A   l  400845030      AUB Montgomery Senators
1   A   l  400846815      AUB Montgomery Senators
2   A   l  400833173      AUB Montgomery Senators
3   H   w  400847051  Abilene Christian  Wildcats
4   A   l  400820720  Abilene Christian  Wildcats
5   A   l  400830546  Abilene Christian  Wildcats

[6 rows x 24 columns]

    Peek at the table named 'winloss'
   index wl  wl_int
0      0  w       1
1      1  l      -1

now here
scoreboard

SystemExit: 0

To exit: use 'exit', 'quit', or Ctrl-D.

# Everything below this line is a stand alone bit of code
# but should be run with caution.

'''
credential and the three main databases info 
    2. games: 
    3. stats: database with info from all games played
        -filled with data scrapped from games pages

'''


username = 'smaug'
dbname = 'ncaa_mbb_db'


boxscore_dir = 'boxscore_pages/'
boxscore_file = 'ncaa_mbb_boxscore_DDDDDDDDD.txt'
boxscore_table_name = 'games'

stats_table_name = 'stats'
stats_table_name2 = 'stats2'
stats_table_name1415 = 'stats1415'

teams_1415 = 'teams1415'

con = None
con = psycopg2.connect(database=dbname, user=username)
print '  ', con


sql_query = "SELECT COUNT(*) FROM %s;" % (scoreboard_table_name)
print sql_query
try:
    from_sql_query = pd.read_sql_query(sql_query, con)
    print from_sql_query
except:
    print '  scoreboard_table does not exist' 

sql_query = "SELECT COUNT(*) FROM %s WHERE in_hand='%s';" % (scoreboard_table_name, 'no')
print sql_query
try:
    from_sql_query = pd.read_sql_query(sql_query, con)
    print from_sql_query
except:
    print '  scoreboard_table does not exist'

# For testing out the gamestats database

con = None
con = psycopg2.connect(database=dbname, user=username)
print '  ', con


sql_query = "SELECT COUNT(*) FROM %s;" % (stats_table_name)
print sql_query
try:
    from_sql_query = pd.read_sql_query(sql_query, con)
    print from_sql_query.head(5)
except:
    print '  stats table, %s, does not exist' % stats_table_name


#sql_query = "select * from INFORMATION_SCHEMA.COLUMNS where TABLE_NAME='%s';" % (stats_table_name)
#sql_query = "SELECT player, player_url, team_name, player_pos FROM %s;" % (stats_table_name)
sql_query = "SELECT player, team_name, pf, pts, ftm, fta, fgm FROM %s;" % (stats_table_name)
try:
    from_sql_query = pd.read_sql_query(sql_query, con)
    print from_sql_query.head(10)
except:
    print '  stats table, %s, does not exist' % stats_table_name


    

sql_query = "SELECT COUNT(*) FROM %s;" % (stats_table_name2)
try:
    from_sql_query = pd.read_sql_query(sql_query, con)
    print from_sql_query.head(5)
except:
    print '  stats table, %s, does not exist' % stats_table_name2


#sql_query = "select * from INFORMATION_SCHEMA.COLUMNS where TABLE_NAME='%s';" % (stats_table_name)
#sql_query = "SELECT player, player_url, team_name, player_pos FROM %s;" % (stats_table_name)
sql_query = "SELECT player, team_name, pf, pts, ftm, fta, fgm FROM %s;" % (stats_table_name2)


print sql_query
try:
    from_sql_query = pd.read_sql_query(sql_query, con)
    print from_sql_query.head(30)
except:
    print '  stats table, %s, does not exist' % stats_table_name2

# For testing out the teams database(s)

con = None
con = psycopg2.connect(database=dbname, user=username)
print '  ', con


sql_query = "SELECT * FROM %s WHERE team_name = 'Texas Longhorns';" % (teams_1415)
print sql_query
try:
    from_sql_query = pd.read_sql_query(sql_query, con)
    print from_sql_query.head(45)
except:
    print '  teams table, %s, does not exist' % teams_1415

con = None
con = psycopg2.connect(database=dbname, user=username)
print '  ', con


sql_query = "SELECT * FROM %s;" % ('winloss')
print sql_query
try:
    from_sql_query = pd.read_sql_query(sql_query, con)
    print from_sql_query.head(5)
except:
    print '  stats table, %s, does not exist' % stats_table_name