In [1]:
#import packages

import sys
import re
import os
import numpy as np
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy_utils import database_exists, create_database
import psycopg2

In [2]:
'''
credential and the three main databases info 
    1. scoreboard: database with info regarding the various ESPN scoreboard pages
    2. games: database with info regarding all games played
        -filled with data scraped from scoreboard pages 
    3. stats: database with info from all games played
        -filled with data scrapped from games pages

'''


username = 'smaug'
dbname = 'ncaa_mbb_db'

scoreboard_dir = 'scoreboard_pages/'
scoreboard_file = 'ncaa_mbb_scoreboard_full_YYYYMMDD.txt'
scoreboard_table_name = 'scoreboard'
scoreboard_table_range = [['20021101','20030430'], 
                            ['20031101','20040430'], 
                            ['20041101','20050430'],
                            ['20051101','20060430'],
                            ['20061101','20070430'],
                            ['20071101','20080430'],
                            ['20081101','20090430'],
                            ['20091101','20100430'],
                            ['20101101','20110430'],
                            ['20111101','20120430'],
                            ['20121101','20130430'],
                            ['20131101','20140430'],
                            ['20141101','20150430'],
                            ['20151101','20160123'],
                           ] 

boxscore_dir = 'boxscore_pages/'
boxscore_file = 'ncaa_mbb_boxscore_DDDDDDDDD.txt'
boxscore_table_name = 'games'

stats_table_name = 'stats'
stats_table_name2 = 'stats2'
stats_table_name1415 = 'stats1415'

teams_1415 = 'teams1415'

# For creating the base scoreboard database

In [15]:
### make base scoreboard database

engine = create_engine('postgres://%s@localhost/%s'%(username, dbname))
print '  DB url:', engine.url
db_exist = database_exists(engine.url)
if not db_exist:
    create_database(engine.url)
print '  DB exists? %s' % db_exist

con = None
con = psycopg2.connect(database=dbname, user=username)

my_dates = []
my_years = []
my_months = []
my_days = []
for scoreboard in scoreboard_table_range:
    dates_range = pd.date_range(start=scoreboard[0], end=scoreboard[1], freq='D')
    for date_range in dates_range:
        match = re.search('(\d\d\d\d)-(\d\d)-(\d\d)', str(date_range))
        my_dates.append(match.group(0))
        my_years.append(match.group(1))
        my_months.append(match.group(2))
        my_days.append(match.group(3))

in_hand = []
for ii in np.arange(len(my_dates)):
    bit1 = scoreboard_file
    bit1 = bit1.replace('YYYY', my_years[ii])
    bit1 = bit1.replace('MM', my_months[ii])
    bit1 = bit1.replace('DD', my_days[ii])
    #print bit1

    bit2 = scoreboard_dir  
    if int(my_months[ii]) > 7:
        bit2 = str(my_years[ii]) + '-' + str(int(my_years[ii])+1) + '/'
    else:
        bit2 = str(int(my_years[ii])-1) + '-' + str(my_years[ii]) + '/'
    #print bit2
   
    line = 'ls ' + scoreboard_dir + bit2 + bit1
    #print line
    f = os.popen(line)
    try:
        f.readlines()[0]
        in_hand.append('yes')
    except:
        #print f.readlines()
        in_hand.append('no')


scoreboard_df = pd.DataFrame({'date':my_dates, 
                              'year':my_years, 
                              'month':my_months,
                              'day':my_days,
                              'in_hand':in_hand,        
                            })
print scoreboard_df.tail(5)


##################################################################
###are you really sure you want to rebuild the entire scoreboard database???
#scoreboard_df.to_sql(scoreboard_table_name, engine, if_exists='replace')
##################################################################

  DB url: postgres://smaug@localhost/ncaa_mbb_db
  DB exists? True
            date day in_hand month  year
2435  2016-01-19  19     yes    01  2016
2436  2016-01-20  20     yes    01  2016
2437  2016-01-21  21     yes    01  2016
2438  2016-01-22  22     yes    01  2016
2439  2016-01-23  23     yes    01  2016

In [5]:
con = None
con = psycopg2.connect(database=dbname, user=username)
print '  ', con


sql_query = "SELECT COUNT(*) FROM %s;" % (scoreboard_table_name)
print sql_query
try:
    from_sql_query = pd.read_sql_query(sql_query, con)
    print from_sql_query
except:
    print '  scoreboard_table does not exist' 

sql_query = "SELECT COUNT(*) FROM %s WHERE in_hand='%s';" % (scoreboard_table_name, 'no')
print sql_query
try:
    from_sql_query = pd.read_sql_query(sql_query, con)
    print from_sql_query
except:
    print '  scoreboard_table does not exist'

   <connection object at 0x109a29770; dsn: 'dbname=ncaa_mbb_db user=smaug', closed: 0>
SELECT COUNT(*) FROM scoreboard;
   count
0   2440
SELECT COUNT(*) FROM scoreboard WHERE in_hand='no';
   count
0      0

# For testing out the games database

In [16]:
'''
test out the 'games' database

just two sample queries:
 1. to find the total number in the database
 2. to find the total number of entries in the database left to download
'''

con = None
con = psycopg2.connect(database=dbname, user=username)
print '  ', con


sql_query = "SELECT COUNT(*) FROM %s;" % (boxscore_table_name)
print sql_query
try:
    from_sql_query = pd.read_sql_query(sql_query, con)
    print from_sql_query.head(5)
except:
    print '  games table, %s, does not exist' % boxscore_table_name

sql_query = "SELECT id, year FROM %s WHERE in_hand='%s' AND id >320000000;" % (boxscore_table_name, 'yes')
print sql_query
try:
    from_sql_query = pd.read_sql_query(sql_query, con)
    print from_sql_query.head(5)
except:
    print '  games table, %s, does not exist' % boxscore_table_name

   <connection object at 0x109a29770; dsn: 'dbname=ncaa_mbb_db user=smaug', closed: 0>
SELECT COUNT(*) FROM games;
   count
0  80100
SELECT id, year FROM games WHERE in_hand='yes' AND id >320000000;
          id  year
0  320930096  2012
1  320910096  2012
2  320912305  2012
3  320900221  2012
4  320890024  2012

# For testing out the gamestats database

In [10]:
con = None
con = psycopg2.connect(database=dbname, user=username)
print '  ', con


sql_query = "SELECT COUNT(*) FROM %s;" % (stats_table_name)
print sql_query
try:
    from_sql_query = pd.read_sql_query(sql_query, con)
    print from_sql_query.head(5)
except:
    print '  stats table, %s, does not exist' % stats_table_name


#sql_query = "select * from INFORMATION_SCHEMA.COLUMNS where TABLE_NAME='%s';" % (stats_table_name)
#sql_query = "SELECT player, player_url, team_name, player_pos FROM %s;" % (stats_table_name)
sql_query = "SELECT player, team_name, pf, pts, ftm, fta, fgm FROM %s;" % (stats_table_name)
try:
    from_sql_query = pd.read_sql_query(sql_query, con)
    print from_sql_query.head(10)
except:
    print '  stats table, %s, does not exist' % stats_table_name


    

sql_query = "SELECT COUNT(*) FROM %s;" % (stats_table_name2)
try:
    from_sql_query = pd.read_sql_query(sql_query, con)
    print from_sql_query.head(5)
except:
    print '  stats table, %s, does not exist' % stats_table_name2


#sql_query = "select * from INFORMATION_SCHEMA.COLUMNS where TABLE_NAME='%s';" % (stats_table_name)
#sql_query = "SELECT player, player_url, team_name, player_pos FROM %s;" % (stats_table_name)
sql_query = "SELECT player, team_name, pf, pts, ftm, fta, fgm FROM %s;" % (stats_table_name2)


print sql_query
try:
    from_sql_query = pd.read_sql_query(sql_query, con)
    print from_sql_query.head(30)
except:
    print '  stats table, %s, does not exist' % stats_table_name2

   <connection object at 0x109a15b00; dsn: 'dbname=ncaa_mbb_db user=smaug', closed: 0>
SELECT COUNT(*) FROM stats;
    count
0  434526
             player         team_name pf pts ftm fta fgm
0      Kyle Singler  Duke Blue Devils  5  15   1   4   5
1      Lance Thomas  Duke Blue Devils  2   9   1   2   4
2  Gerald Henderson  Duke Blue Devils  1  19  11  13   4
3   Elliot Williams  Duke Blue Devils  3  11   0   0   5
4       Jon Scheyer  Duke Blue Devils  1  18  10  14   3
5       Nolan Smith  Duke Blue Devils  2   0   0   0   0
6       Greg Paulus  Duke Blue Devils  0   0   0   0   0
7   Martynas Pocius  Duke Blue Devils  0   0   0   0   0
8     Miles Plumlee  Duke Blue Devils  4   4   0   0   2
9      Brian Zoubek  Duke Blue Devils  2   0   0   0   0
    count
0  211106
SELECT player, team_name, pf, pts, ftm, fta, fgm FROM stats2;
               player               team_name pf pts ftm fta fgm
0     D.J. Cunningham  UNC Asheville Bulldogs  5   8   0   1   4
1          Will Weeks  UNC Asheville Bulldogs  4  19   3   5   8
2       Andrew Rowsey  UNC Asheville Bulldogs  1  12   1   2   5
3          Jaron Lane  UNC Asheville Bulldogs  3   5   3   7   1
4    Corey Littlejohn  UNC Asheville Bulldogs  4   4   2   4   1
5      Dakari Johnson                   BENCH  4   5   1   2   2
6          Marcus Lee                   BENCH  1  17   3   7   7
7        Derek Willis                   BENCH  0   2   2   2   0
8      Alex Poythress                   BENCH  2  10   0   1   5
9   Dominique Hawkins                   BENCH  0   0   0   0   0
10           Jon Hood                   BENCH  0   0   0   0   0
11      Jarrod Polson                   BENCH  0   0   0   0   0
12      Adrian Fields   McNeese State Cowboys  1   6   0   0   2
13     Craig McFerrin   McNeese State Cowboys  1   5   1   1   2
14        Kevin Hardy   McNeese State Cowboys  0   5   1   2   2
15    Ledrick Eackles   McNeese State Cowboys  2  11   0   0   4
16     Keelan Garrett   McNeese State Cowboys  1   4   0   0   2
17    Colby Wollenman                   BENCH  0   0   0   0   0
18         Alex Gauna                   BENCH  1   4   0   0   2
19    Trevor Bohnhoff                   BENCH  0   2   0   0   1
20    Gavin Schilling                   BENCH  1   4   0   0   2
21    Alvin Ellis III                   BENCH  1   6   0   0   3
22        Dan Chapman                   BENCH  0   0   0   0   0
23     Branden Dawson                   BENCH  0  12   0   0   6
24       Travis Trice                   BENCH  0  11   0   0   4
25      Keenan Wetzel                   BENCH  0   0   0   0   0
26       Russell Byrd                   BENCH  2   0   0   0   0
27      De'Mon Brooks       Davidson Wildcats  4  24  10  12   7
28  Chris Czerapowicz       Davidson Wildcats  4   6   2   2   2
29         Tom Droney       Davidson Wildcats  4  16   8   9   4

# For testing out the teams database(s)

In [4]:
con = None
con = psycopg2.connect(database=dbname, user=username)
print '  ', con


sql_query = "SELECT * FROM %s WHERE team_name = 'Texax Longhorns';" % (teams_1415)
print sql_query
try:
    from_sql_query = pd.read_sql_query(sql_query, con)
    print from_sql_query.head(45)
except:
    print '  teams table, %s, does not exist' % teams_1415

   <connection object at 0x109909b00; dsn: 'dbname=ncaa_mbb_db user=smaug', closed: 0>
SELECT * FROM teams1415 WHERE team_name = 'Kentucky Wildcats';
    index  ast  blk  dreb  fga  fgm  fta  ftm  min  oreb        ...          \
0       0   14    3    19   46   23   18   16  200     9        ...
1       0   17    7    26   61   25   23   15  200    17        ...
2       0    9    8    21   53   25   21   15  200     9        ...
3       0    7    4    16   54   26   10    9  200     6        ...
4       0   14    1    15   41   24   23   15  200     4        ...
5       0   13    6    22   60   29   28   21  200    12        ...
6       0   13    7    30   50   24   32   26  200    11        ...
7       0   15   11    32   58   25   26   16  200    12        ...
8       0   19   12    34   67   29   29   21  200    18        ...
9       0   15    9    27   57   28   13   12  200     7        ...
10      0   11    3    29   50   21   14   10  200    16        ...
11      0   17    7    29   48   27   35   30  200     7        ...
12      0    8    1    21   44   20   37   27  200     9        ...
13      0   13   10    25   70   34   19   14  200    22        ...
14      0   11    6    18   60   22   17   10  200    18        ...
15      0   13   11    22   46   20   32   21  200    10        ...
16      0   21   11    38   58   33   17   13  200     7        ...
17      0   15    5    38   61   28   28   20  200    11        ...
18      0   16    6    17   49   25   27   21  200    11        ...
19      0    8    9    19   47   25   20   14  200     9        ...
20      0   19   11    31   53   30   33   24  200    15        ...
21      0   25   13    33   64   32   12    7  200    11        ...
22      0    8    4    25   63   25   25   18  200    10        ...
23      0   10    9    22   39   18   27   19  200     2        ...
24      0   11    5    16   53   22   21   17  200    16        ...
25      0   12    2    20   47   22   22   21  200     8        ...
26      0   14    9    21   68   31   11    7  200    16        ...
27      0   10    9    26   54   20   28   20  200     9        ...
28      0   13    5    19   53   24   17    8  200    13        ...
29      0   19    5    12   48   27   31   23  200    10        ...
30      0   13   10    31   64   18   35   25  250    13        ...
31      0   24    9    21   59   34   23   13  200     8        ...
32      0   12    4    19   56   21   32   20  200    12        ...
33      0   25    6    32   68   44   23   16  200    12        ...
34      0   13    8    27   56   27   30   24  200    16        ...
35      0   16    3    17   55   25   17   12  200     5        ...
36      0   17    6    29   54   27   24   18  200    14        ...
37      0   16    7    17   60   25   40   28  225    13        ...
38      0    7    6    22   56   21   23   19  200    14        ...

    to  tpa  tpm     ftper     fgper     tpper  ha  wl    game_id  \
0    9   17    8  0.888889  0.500000  0.470588   A   w  400597336
1   14   20    6  0.652174  0.409836  0.300000   H   w  400587392
2    8    6    2  0.714286  0.471698  0.333333   H   w  400597432
3    6    5    3  0.900000  0.481481  0.600000   H   l  400787769
4    5   15    7  0.652174  0.585366  0.466667   H   w  400597367
5    9   17    5  0.750000  0.483333  0.294118   H   w  400597420
6   10   15    4  0.812500  0.480000  0.266667   H   w  400786514
7    6   18    6  0.615385  0.431034  0.333333   H   w  400585685
8    8   26    7  0.724138  0.432836  0.269231   H   w  400585905
9    9   13    6  0.923077  0.491228  0.461538   A   w  400597414
10  18   14    6  0.714286  0.420000  0.428571   A   w  400587874
11  10   14    7  0.857143  0.562500  0.500000   H   w  400785062
12  14    7    2  0.729730  0.454545  0.285714   A   w  400597360
13  13   14    3  0.736842  0.485714  0.214286   H   w  400589702
14   4   17    2  0.588235  0.366667  0.117647   H   w  400591241
15  13    6    4  0.656250  0.434783  0.666667   H   w  400597343
16  17   13    3  0.764706  0.568966  0.230769   H   w  400596339
17  13   10    3  0.714286  0.459016  0.300000   H   w  400785343
18  12   12    7  0.777778  0.510204  0.583333   H   w  400785256
19  10    8    4  0.700000  0.531915  0.500000   H   w  400787576
20  18   18    8  0.727273  0.566038  0.444444   H   w  400595205
21  12   26   12  0.583333  0.500000  0.461538   H   w  400593228
22   3   15    4  0.720000  0.396825  0.266667   A   w  400597425
23   8    9    3  0.703704  0.461538  0.333333   A   w  400597347
24  10   22    5  0.809524  0.415094  0.227273   A   w  400597396
25  15   14    3  0.954545  0.468085  0.214286   A   w  400597381
26   8   12    2  0.636364  0.455882  0.166667   A   w  400597382
27   7   15    4  0.714286  0.370370  0.266667   H   w  400786203
28   7    7    2  0.470588  0.452830  0.285714   H   w  400588349
29  14   15    7  0.741935  0.562500  0.466667   H   w  400587839
30  12   28    9  0.714286  0.281250  0.321429   A   w  400597322
31  13   21    8  0.565217  0.576271  0.380952   H   w  400587045
32   8   12    1  0.625000  0.375000  0.083333   H   w  400585723
33  15   17    6  0.695652  0.647059  0.352941   H   w  400597407
34   8   18    8  0.800000  0.482143  0.444444   H   w  400597329
35   7   22    7  0.705882  0.454545  0.318182   H   w  400597368
36  13   14    5  0.750000  0.500000  0.357143   H   w  400597390
37  10   20   11  0.700000  0.416667  0.550000   H   w  400597317
38   6   10    3  0.826087  0.375000  0.300000   H   w  400784919

            team_name
0   Kentucky Wildcats
1   Kentucky Wildcats
2   Kentucky Wildcats
3   Kentucky Wildcats
4   Kentucky Wildcats
5   Kentucky Wildcats
6   Kentucky Wildcats
7   Kentucky Wildcats
8   Kentucky Wildcats
9   Kentucky Wildcats
10  Kentucky Wildcats
11  Kentucky Wildcats
12  Kentucky Wildcats
13  Kentucky Wildcats
14  Kentucky Wildcats
15  Kentucky Wildcats
16  Kentucky Wildcats
17  Kentucky Wildcats
18  Kentucky Wildcats
19  Kentucky Wildcats
20  Kentucky Wildcats
21  Kentucky Wildcats
22  Kentucky Wildcats
23  Kentucky Wildcats
24  Kentucky Wildcats
25  Kentucky Wildcats
26  Kentucky Wildcats
27  Kentucky Wildcats
28  Kentucky Wildcats
29  Kentucky Wildcats
30  Kentucky Wildcats
31  Kentucky Wildcats
32  Kentucky Wildcats
33  Kentucky Wildcats
34  Kentucky Wildcats
35  Kentucky Wildcats
36  Kentucky Wildcats
37  Kentucky Wildcats
38  Kentucky Wildcats

[39 rows x 24 columns]